<style>
  .page-footer{

        width: 100%;
        
      
          /* margin-left: 0.2rem; */
    
  
  }
  .container{
    
  }
</style>
<div class="page-footer" style="background:rgb(95, 116, 83); ">
    <div class="container"  >
      <div class="row">
        <div class="col l6 s12">
          <h5 class=" text-lighten-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; font-size: 50px;">farmersAid</h5>
          <h6 class="white-text " style="margin-top: 29px; font-size: 20px; ">One Digital Solution for Helping Farmers</h6>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="text-white" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">All Links :</h5>

          <ul>
            <li style="margin-top: 10px; margin-left: 20px;"><a class=" white-text" href="/">Shop</a></li>
            <li style="margin-top: 10px; margin-left: 20px;"><a class=" white-text" href="{% url 'cart' %}">Cart</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class=" white-text" href="{% url 'home_Blog' %}">Blog</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class=" white-text" href="{% url 'WeatherApp:city_weather' %}">Weather Info</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class="white-text text-lighten-3" href="{% url 'profile' %}">Profile</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" >
      © 2021 Copyright eKrishok
      {% if request.user.is_authenticated %}
      <a class="white-text text-lighten-4 right" href="{% url 'logout' %}" style="margin-left: 20px;">Logout</a>
      <a class="white-text text-lighten-4 right" href="{% url 'order_page' %}">Orders</a>
      {% else %}
      <a class="white-text text-lighten-4 right " style="margin-left: 19px;" href="{% url 'login' %}"> Login</a>
      
      <a class="white-text text-lighten-4 right" href="{% url 'type_Sign' %}">SignUp</a>
      {% endif %}
      </div>
    </div>
  </div>