<style>
  .page-footer{

        width: 100%;
        
      
          /* margin-left: 0.2rem; */
    
  
  }
  
</style>
<div class="page-footer" style="background:rgb(46, 13, 113); ">
    <div class="container"  >
      <div class="row">
        <div class="col l6 s12">
          <h5 class=" text-lighten-4 display-2" >farmerShop</h5>
          <p class="text-light lead " >One Digital Solution for Helping Farmers</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="text-white" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">All Links :</h5>

          <ul>
            <li style="margin-top: 10px; margin-left: 20px;"><a class=" white-text" href="/">
              <span><i class="fa-1x p-2 mt-3 fa-solid fa-shop float-right text-light"></i></span>
              Shop</a></li>
            <li style="margin-top: 10px; margin-left: 20px;"><a class=" white-text" href="{% url 'cart' %}">
              <span><i class="fa-1x p-2 mt-3 fa-solid fa-cart-plus float-right text-light"></i>
                                
              </span>
              Cart</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class=" white-text" href="{% url 'home_Blog' %}">
              <span><i class="fa-1x p-2 mt-3 fa-solid fa-hand-holding-hand float-right text-light"></i></span>
              
              Blog</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class=" white-text" href="{% url 'WeatherApp:city_weather' %}">
              <span><i class="fa-1x p-2 mt-3 fa-solid fa-cloud float-right text-light"></i></span>
              
              Weather Info</a></li>
            <li style="margin-top: 10px;  margin-left: 20px;"><a class="white-text text-lighten-3" href="{% url 'profile' %}">
              
              <span>
                <i class="fa-1x p-2 mt-3 fa-solid fa-user float-right text-light">
                  
                </i>
                                
              </span>
              Profile</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container" >
      © 2021 Copyright farmerShop
      {% if request.user.is_authenticated %}
      <a class="white-text text-lighten-4 right" href="{% url 'logout' %}" style="margin-left: 20px;">
        <span><i class="fa-1x p-2 mt-3 fa-solid fa-inbox-out float-right text-light"></i>
        
        Logout</a>
      <a class="white-text text-lighten-4 right" href="{% url 'order_page' %}">
        <span><i class="fa-1x p-2 mt-3 fa-solid fa-arrow-down-a-z float-right text-light"></i>
        
        Orders</a>
      {% else %}
      <a class="white-text text-lighten-4 right " style="margin-left: 19px;" href="{% url 'login' %}"> 
        
        <span><i class="fa-1x p-2 mt-3 fa-solid fa-arrow-down-a-z float-right text-light"></i>
        
        Login</a>
      
      <a class="white-text text-lighten-4 right" href="{% url 'type_Sign' %}">
        <span><i class="fa-1x p-2 mt-3 fa-solid fa-user-plus text-light"></i>
        
        SignUp</a>
      {% endif %}
      </div>
    </div>
  </div>