{% extends 'store/base.html' %}
{% block content %}
<!--new template-->
<!--Css-->
<style>
    body {
    background: rgb(32, 155, 79)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: rgb(17, 5, 5);
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
<!--html-->
<div class="container rounded bg-white mt-5 mb-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row " style="width: 900px; height: auto;">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user}}</span><span class="text-black-50"><b>{{user.email}}</b></span><span> </span></div>
            </div>
               
               <div class="col-lg-4  m-3 p-4"  style="">
                {{u_form.as_p}}
               </div>
              
               <div class="col-lg-4 m-3 p-4 " style="">
               

                {{p_form.as_p}}

                <button type="submit" class="btn btn-outline-info " style="width: 150px; float: right; margin-top: 30px;">Update Info</button>
               </div>
                
              
           
    </div>
    </form>
</div>


{% endblock %}