{% extends "store/base.html" %}

{% block content %}
<style>
    label{
        font-size: 16px;
        color: rgb(8, 2, 1);
        font-weight: bold;
    }
</style>

<h3 style="margin-left: 45px; margin-bottom: 70px;">Add blog's Post:</h3>
<!--<hr style="margin-left: 40px; margin-bottom: 70px; width: 400px;">-->
<div class="container-custom mt-3">
    <div class="row mx-auto" style="width: 80%; ">
       
        <div class="form-group">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-outline-info" style=" width: 190px; margin-bottom: 80px; margin-top: 30px;"> 
                    Add POST
                 </button>
            </form>
        </div>
        
    </div>
</div>



{% endblock %}